CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/bin/
/bin64/
/bin_unix/
/data/
/docs/
/packages/
/README.html
/rpg.bat
/sauerbraten.bat
/sauerbraten_unix
/server-init.cfg
/server.bat
/src/enet/Makefile
/src/nbproject
/log/client.log
/log/admin.log
/log/zucker_client.pid
log/client.log
log/zucker_client.pid
src/enet/Makefile
src/vcpp/
*.o
**/*.so
/log/*
